*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    color: #55298B;
    font-weight: 700;
    font-size: 50px;
}

p{
    font-size: 25px;
    font-weight: 550;
}

#background-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.container{
    max-width: 95%;
    margin: 0 auto;
}

.btn-top{
    padding: 1rem 4rem;
    border-radius: 40px;
    font-weight: 500;
    font-size: 22px;
    color: #55298B;
}

header{
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #55298B;
    z-index: 99;
}

section{
    padding:  100px 0px;
}

.main-heading{
    font-size: 8rem;
}

.main-desc{
    font-size: 2.5rem;
    font-weight: 350;
}

.navbar li a{
    color: rgba(255,255,255,1);
    font-size: 20px;
}

.navbar li a:hover{
    color: #fff;
    text-decoration: none;
}

.nav-item{
    margin-top: 5px;
    padding-right: 60px
}

.uni-btn{
    padding: 10px 100px;
    font-weight: 1000 !important;
    font-size: 25px !important;
    color: #55298B;
}

/* trade section */

.trade-img{
    width: 130px;
    height: auto;
}

.trade-heading{
    color: #55298B;
    font-weight: 700;
    margin-top: 30px;
    font-size: 40px;
}

/* tokenomics section */

.toke-item{
    background: #55298B;
    padding: 1rem;
    color: #fff;
    text-align: center;
    margin: 20px 0;
    border-radius: 20px;
}

.grid-head{
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: 700;
}

@media only screen and (max-width: 667px) {
    .main-heading{
        font-size: 4.5rem;
        margin: 30px 0;
    }

    .main-desc{
        font-size: 1.5rem;
        margin: 30px 0;
    }

    .container{
        max-width: 100%;
    }

    .uni-btn{
        width: 92%;
        margin-top: 10px !important;
        margin-left: 15px !important;
    }

    .btn-top{
        padding: 1rem 2rem;
    }

    .grid-head{
        font-size: 30px;
    }
  }